# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.env
*.local
*.log
*.cache
*.next
.vercel
.turbo

# typescript
*.tsbuildinfo

# vite
.vite

# bun
bun.lockb

# firebase
.firebase/

# macOS
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
